config.stopBubbling = true
lombok.data.flagUsage= error
lombok.AllArgsConstructor.flagUsage = error
lombok.RequiredArgsConstructor.flagUsage = error
lombok.value.flagUsage = error
lombok.val.flagUsage = error
lombok.var.flagUsage = error
lombok.nonnull.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.SneakyThrows.flagUsage = error
lombok.synchronized.flagUsage = error